@using System.Security.Claims;
@model List<VKR_Poom_Reserving.Models.ReservesViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-right">
    <h4>Расписание переговорных комнат на текущую неделю<br></h4>
</div>

<div>
    <table class="table table-bordered table-responsive-sm">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Сотрудник</th>
                <th scope="col">Переговорная</th>
                <th scope="col">Время начала</th>
                <th scope="col">Время окончания</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reserve in Model)
            {
                <tr>
                    <th scope="row">
                        @if (this.User.FindFirstValue(ClaimTypes.NameIdentifier) == reserve.UserId)
                        {
                            <a class="nav-link" asp-controller="Home" asp-action="EditReserve" asp-route-id="@reserve.Id">@reserve.Id</a>
                        }
                        else
                        {
                            @reserve.Id
                        }
                    </th>
                    <td>@reserve.User</td>
                    <td>@reserve.Room</td>
                    <td>@reserve.TimeStart</td>
                    <td>@reserve.TimeEnd</td>
                </tr>
            }
        </tbody>
    </table>
</div>
